@font-face {
  font-family: '<%= fontName %>';
  src: url('..<%= fontPath %><%= fontName %>.eot');
  src: url('..<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('..<%= fontPath %><%= fontName %>.woff2') format('woff2'),
    url('..<%= fontPath %><%= fontName %>.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.<%= className %> {
  position: relative;

  &:before {
    display: inline-block;
    font-family: '<%= fontName %>';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    right: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.<%= className %>--lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.<%= className %>--1-5x:before { font-size: 1.5em; }
.<%= className %>--2x:before { font-size: 2em; }
.<%= className %>--3x:before { font-size: 3em; }
.<%= className %>--4x:before { font-size: 4em; }
.<%= className %>--5x:before { font-size: 5em; }
.<%= className %>--fw:before {
  width: 1.2857142857142858em;
  text-align: center;
}

<% _.each(glyphs, function(glyph) { %>.<%= className %>--<%= glyph.name %>:before { content: '\<%= glyph.codepoint.toString(16).toUpperCase() %>' }
<% }); %>
