@import 'variables';
@import 'mixins';
@import 'html';
@import 'icons-font';
@import 'header';
@import 'main-filter';
@import 'view-switcher';
@import 'rating-control';
@import 'join-control';
@import 'user';
@import 'popup';


.with-icon {
  &:active {
    &,
    &:before {
      color: $control-active-color !important;
    }
  }
}


.break {
  flex: none;
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  width: 0;

  @media screen and (min-width: $screen-laptop) {
    display: none;
    flex: auto;
  }
}


.hidden,
[v-cloak] {
  display: none !important;
}
