.main-header {
  background: $primary-background-color;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 1.3rem;
  height: 50px;

  a {
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 0.2em 0.3em;

    &:hover {
      background-color: transparentize(#112445, 0.7);
      color: #9dc0fb;
    }

    &:active {
      color: #fff;
    }
  }

  @media screen and (max-width: 600px) {
    .link__text-label {
      display: none;
    }
  }
}


.main-header a,
.language-switcher__current-value {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 0.2em 0.3em;
}


.main-header__inner {
  @include inner-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.main-header__logo {
  flex: 5;
}


.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-navigation__geography {
  display: none;

  @media screen and (min-width: $screen-laptop) {
    display: flex;
    flex: 50;
  }

  .main-header__navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.main-header__search {
  flex: 5;
  order: 2;
  text-align: center;

  @media screen and (min-width: $screen-tablet) {
    flex: 18;

    .main-header__search-mibile-control {
      display: none;
    }
  }

  @media screen and (min-width: $screen-laptop) {
    flex: 25;
  }

  &.main-header__search--mobile-active {
    display: flex;
    left: 5rem;
    right: 2rem;
    position: absolute;
    z-index: 2;

    .main-header__search-inner,
    input[type=search] {
      display: block;
      width: 100%;
    }

    .with-icon:before {
      position: absolute;
    }

    .main-header__search-mibile-control {
      display: none;
    }
  }

  .main-header__search-inner {
    display: none;

    @media screen and (min-width: $screen-tablet) {
      display: inline-block;
    }
  }

  .with-icon {
    &:before {
      color: transparentize($control-color, 0.5);
      font-size: 1.4rem;
      left: 6px;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    &:hover {
      &,
      &:before {
        color: #627493;
      }
    }
  }

  .main-header__search-mibile-control {
    &:before {
      position: static;
      transform: none;
    }
  }

  input[type=search] {
    border-radius: 1rem;
    display: none;
    width: 190px;

    @media screen and (min-width: $screen-tablet) {
      display: initial;
    }
  }
}

.main-header__navigation--purposes,
.main-header__navigation--auth {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: $screen-tablet) {
    order: initial;
  }
}

.main-header__navigation--purposes {
  flex: 27;
  order: 1;

  @media screen and (max-width: 600px) {
    flex: 20;
  }

  @media screen and (min-width: $screen-tablet) {
    order: initial;
  }

  .with-icon:before {
    padding-right: 0.4em;
    position: static;
    vertical-align: baseline;

    @media screen and (max-width: 600px) {
      font-size: 1.8rem;
    }
  }
}

.main-header__navigation--auth {
  flex: 13;
  justify-content: space-around;
  order: 3;

  @media screen and (max-width: 600px) {
    flex: 23;
  }

  @media screen and (min-width: $screen-tablet) {
    flex: 20;
  }
}

.main-header__navigation-about {
  display: none;

  @media screen and (min-width: $screen-tablet) {
    display: block;
  }
}

.main-header__navigation-auth-link {
  align-self: flex-end;
  justify-self: flex-end;
}


.language-switcher {
  text-align: right;
  position: relative;
}

.language-switcher__current-value {
  cursor: pointer;
  padding-right: 1.5rem;

  .language-switcher__label {
    display: none;
  }

  @media screen and (min-width: $screen-laptop) {
    .language-switcher__label {
      display: block;
    }

    .language-switcher__abbr {
      display: none;
    }
  }
}
