html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, blockquote, form, fieldset, legend, table, td, th, div {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  background: $secondary-background-color;
  color: $primary-text-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;

  @media screen and (max-width: $screen-phone) {
    &.fixed {
      overflow: hidden;
      position: fixed;
    }
  }
}


ul,
li {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}


a {
  color: $primary-text-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $control-active-color;
  }
}

.link-block {
  border-radius: 2px;
  display: inline-block;
  margin-left: -0.3em;
  padding: 0.2rem 0.3em;

  &.with-icon {
    &:before {
      left: 0.3em;
      line-height: 1.1;
      padding-right: 0.3em;
      position: static;
      right: auto;
      transform: none;
      vertical-align: middle;
    }
  }

  &:hover {
    background: $control-background-hover-color;
    color: $control-hover-color;
  }
}

input,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

input {
  border: none;

  &[type=text],
  &[type=number],
  &[type=search],
  &[type=email] {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(31, 57, 102, 0.2) inset;
    border-radius: 2px;
    height: 2.4rem;
    padding: 0.5rem;

    &::placeholder {
      color: transparentize($control-color, 0.4);
    }

    &:hover {
      &::placeholder {
        color: #627493;
      }
    }
  }

  &[type=search] {
    padding-left: 2.4rem;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

img {
  margin: 0;
  vertical-align: middle;
}
