@font-face {
  font-family: 'icons-font';
  src: url('../fonts/icons-font.eot');
  src: url('../fonts/icons-font.eot?#iefix') format('eot'),
    url('../fonts/icons-font.woff2') format('woff2'),
    url('../fonts/icons-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.with-icon {
  position: relative;

  &:before {
    display: inline-block;
    font-family: 'icons-font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    right: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.with-icon--lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.with-icon--1-5x:before { font-size: 1.5em; }
.with-icon--2x:before { font-size: 2em; }
.with-icon--3x:before { font-size: 3em; }
.with-icon--4x:before { font-size: 4em; }
.with-icon--5x:before { font-size: 5em; }
.with-icon--fw:before {
  width: 1.2857142857142858em;
  text-align: center;
}

.with-icon--cards:before { content: '\EA01' }
.with-icon--classic:before { content: '\EA02' }
.with-icon--comments:before { content: '\EA03' }
.with-icon--finance:before { content: '\EA04' }
.with-icon--lines:before { content: '\EA05' }
.with-icon--map_pin:before { content: '\EA06' }
.with-icon--more:before { content: '\EA07' }
.with-icon--people:before { content: '\EA08' }
.with-icon--picture:before { content: '\EA09' }
.with-icon--play:before { content: '\EA0A' }
.with-icon--search:before { content: '\EA0B' }
.with-icon--share:before { content: '\EA0C' }
.with-icon--video:before { content: '\EA0D' }
.with-icon--vote_down:before { content: '\EA0E' }
.with-icon--vote_down_small:before { content: '\EA0F' }
.with-icon--vote_up:before { content: '\EA10' }
.with-icon--vote_up_small:before { content: '\EA11' }
.with-icon--plus:before { content: '\EA12' }
.with-icon--purpose:before { content: '\EA13' }
