.join-control-container {
  display: flex;
  flex: 1;
  order: 1;
  justify-items: flex-end;
  justify-content: flex-end;
  position: relative;
  text-align: right;
  width: 22px;

  @media screen and (min-width: $screen-tablet) {
    flex: initial;
  }

  @media screen and (min-width: $screen-laptop) {
    order: initial;
    width: 100%;
  }

  .plates-mode &,
  .short-list-mode & {
    @media screen and (min-width: $screen-tablet) {
      order: 1;
      flex: 1;
    }
  }
}

.social-action-control {
  box-sizing: border-box;
  color: $primary-background-color;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;

  .plates-mode & {
    flex: none !important;
  }

  @media screen and (min-width: $screen-laptop) {
    @include join-control-default;
    display: flex;
    line-height: initial;
  }

  &:before {
    display: inline-block;
    font-size: 0.5rem;
    line-height: 1.8;
    position: static;
    vertical-align: top;

    @media screen and (min-width: $screen-laptop) {
      display: none;
    }
  }

  &:after {
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    height: 0;
    position: absolute;
    right: 10px;
    width: 0;
  }

  .list-mode & {
    @include join-control-short($screen-laptop);
  }
}
