.main-filter {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  display: flex;
  font-weight: bold;
  height: 40px;
}

.main-filter__inner {
  @include inner-content;
  align-items: center;
  display: flex;
}

.main-filter__item {
  align-items: center;
  display: flex;
  margin-right: 5%;
  position: relative;

  @media screen and (max-width: $screen-tablet) {
    max-width: 23%;
    margin-right: 2%;
  }
}

.main-filter__item--geography {
  @media screen and (min-width: $screen-laptop) {
    display: none;
  }
}

.main-filter__item,
.language-switcher__current-value {
  &:before {
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #93969c;
    height: 0;
    position: absolute;
    right: 0.3em;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    z-index: 1;
  }
}

.filter__current-value {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  height: 24px;
  min-width: 100px;
  padding: 0 2rem 0 0.5em;
  position: relative;

  @media screen and (max-width: $screen-tablet) {
    min-width: 0;
  }

  &:hover {
    background-color: $control-background-hover-color;
    border-radius: 2px;
  }
}

.filter__current-value {
  display: inline-block;
  height: auto;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter__list {
  left: 0;

  .filter__item-counter {
    color: transparentize($primary-text-color, 0.5);
    font-size: 1.1rem;
    margin-left: 2rem;
    white-space: nowrap;
  }

  .filter__item-value {
    white-space: nowrap;
  }
}
