@mixin inner-content {
  box-sizing: border-box;
  max-width: $screen-wide;
  margin: 0 auto;
  padding: 0 0.8rem;
  width: 100%;
}

@mixin justified-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;

  @media screen and (min-width: $screen-tablet) {
    min-height: 38px;
  }

  @media screen and (min-width: $screen-laptop) {
    margin-top: 0;
  }

  .short-list-mode & {
    height: auto;
  }

  .list-mode & {
    @media screen and (min-width: $screen-laptop) {
      height: 70px;
    }
  }
}


@mixin join-control-default {
  align-items: center;
  background: #fff;
  border: 1px solid;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  height: 28px;
  width: 100%;

  &:hover {
    background-color: transparentize($primary-background-color, 0.94);
  }

  &:active {
    background-color: $primary-background-color;
    color: #fff;

    .social-action-control__label {
      color: #fff;
    }

    &:after {
      color: #fff;
    }
  }
}

@mixin join-control-short($min-width) {
  &:after {
    display: none;

    @media screen and (min-width: $min-width) {
      display: block;
    }
  }

  .social-action-control__label {
    display: none;

    @media screen and (min-width: $min-width) {
      display: block;
    }
  }
}
