.news-list {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $screen-wide;

  @media screen and (min-width: $screen-tablet) {
    padding: 0 8px;
  }

  &.plates-mode {
    flex-wrap: wrap;
    column-gap: 24px;

    @media screen and (min-width: 1024px) {
      column-count: 2;
    }

    @media screen and (min-width: 1700px) {
      column-count: 3;
    }
  }
}


.news-item {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  display: flex;
  flex: 1 100%;
  margin: 0 0 16px;
  padding: 11px;
  position: relative;

  @media screen and (min-width: $screen-tablet) {
    border-radius: 3px;
  }

  .news-item__content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;

    @media screen and (min-width: $screen-laptop) {
      flex-wrap: nowrap;
      justify-content: initial;
    }
  }

  .news-item__rating {
    align-items: center;
    border-right: 1px solid $separator-color;
    box-sizing: border-box;
    display: none;
    font-size: 1.3rem;
    flex-direction: column;
    padding: 0 14px 0 3px;
    white-space: nowrap;
    width: 50px;

    @media screen and (min-width: $screen-phablet) {
      display: flex;
    }
  }

  .news-item__main-content {
    box-sizing: border-box;
    flex: 1;
    padding-right: 0.7%;
    width: 70%;

    @media screen and (min-width: $screen-phablet) {
      padding-left: 1.5%;
    }

    @media screen and (min-width: $screen-laptop) {
      flex: none;
      padding-bottom: 0;
      width: 36%;
    }

    @media screen and (min-width: $screen-wide) {
      width: 40%;
    }
  }

  .news-item__text {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 10px;

    @media screen and (min-width: $screen-tablet) {
      font-size: 1.9rem;
      line-height: 1.4;
    }
  }

  .news-item__image-container {
    min-width: 80px;
    padding: 0 0 1rem 1.5%;

    @media screen and (min-width: $screen-phablet) {
      min-width: 80px;
    }

    @media screen and (min-width: $screen-laptop) {
      padding: 0 1.5%;
      min-width: 150px;
    }

    .news-item__rating {
      display: block;
      border: none;
      flex-flow: row;
      justify-content: space-between;
      margin: 1rem 0 0;
      width: auto;

      .rating-control {
        font-size: 1.3rem;
        margin: 0;
        vertical-align: text-bottom;
      }

      @media screen and (min-width: $screen-phablet) {
        display: none;
      }
    }

    .with-icon--play {
      display: inline-block;

      &:after,
      &:before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        color: $control-color;
        font-size: 12px;
        margin-left: 2px;
        right: auto;
        z-index: 1;
      }

      &:after {
        background: #fff;
        border-radius: 50%;
        content: '';
        height: 24px;
        position: absolute;
        width: 24px;
      }
    }
  }

  .news-item__image {
    display: block;
    height: auto;
    width: 80px;

    @media screen and (min-width: $screen-phablet) {
      width: 80px;
    }

    @media screen and (min-width: $screen-laptop) {
      width: 100px;
    }

    @media screen and (min-width: $screen-wide) {
      width: 150px;
    }
  }

  .news-item__finance {
    border-right: 1px solid $separator-color;
    color: $primary-background-color;
    display: none;
    flex: 2;
    font-size: 1.3rem;
    padding-right: 1.5%;
    text-align: right;
    white-space: nowrap;

    &:before {
      color: $primary-background-color;
    }

    @media screen and (min-width: $screen-laptop) {
      display: block;
    }

    .news-item__finance-inner {
      @include justified-vertical;
      width: 80px;
    }

    a {
      color: #1f3966;
    }
  }

  .news-item__finance-collected {
    font-size: 1.3rem;
  }

  .news-item__finance-label {
    font-size: 1.1rem;
  }

  .news-item__details {
    display: flex;
    flex: 4;
    padding: 0 1%;

    @media screen and (min-width: $screen-laptop) {
      border-right: 1px solid $separator-color;
    }
  }

  .news-item__topic,
  .news-item__georgaphy,
  .news-item__time {
    border: none;
    display: none;
    font-size: 1.3rem;
    padding: 0 0.7%;

    @media screen and (min-width: $screen-phablet) {
      display: block;
    }

    @media screen and (min-width: $screen-laptop) {
      border-right: 1px solid $separator-color;
      flex: initial;
    }
  }

  .news-item__topic {
    flex: 1 40%;
    margin-right: 10%;

    @media screen and (min-width: $screen-laptop) {
      margin-right: 0;
      padding-right: 1rem;
    }

    @media screen and (min-width: $screen-phablet) {
      margin-right: 5%;
    }
  }


  /*
  .news-item__topic,
  .news-item__georgaphy {
    width: 50%;
  }
  */

  .news-item__georgaphy {
    border: none;
    flex: 1 60%;
    padding-left: 1rem;
  }

  .news-item__time {
    min-width: 80px;
    padding: 0 0.7%;
    white-space: nowrap;

    @media screen and (min-width: $screen-laptop) {
      min-width: 115px;
      padding: 0 1.5%;
    }
  }

  .news-item__topic-inner,
  .news-item__georgaphy-inner,
  .news-item__time-inner {
    @include justified-vertical;
  }

  .news-item__date {
    display: flex;
    justify-content: space-between;
  }

  .news-item__time-label {
    display: none;
    color: rgba(0,0,0,0.4);

    @media screen and (min-width: $screen-laptop) {
      display: block;
    }
  }

  .news-item__time-value {
    text-align: right;
  }


  .news-item__social {
    @include justified-vertical;
    align-items: center;
    box-sizing: border-box;
    flex: none;
    flex-flow: row;
    min-width: 215px;
    padding-left: 0;
    position: relative;
    width: 100%;

    @media screen and (min-width: $screen-tablet) {
      align-items: flex-end;
      flex: 4;
      padding-left: 1.5%;
    }

    @media screen and (min-width: $screen-laptop) {
      flex-flow: column;
    }
  }

  .social-details {
    display: flex;
    justify-content: space-between;
    flex: 3;
    margin-right: 10%;

    @media screen and (min-width: $screen-phablet) {
      padding-left: 1%;
    }

    @media screen and (min-width: $screen-laptop) {
      flex: initial;
      margin-right: 0;
      width: 100%;
    }
  }

  .social-details__item {
    font-size: 1.3rem;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .link-block {
      align-items: baseline;
      color: $primary-background-color;
      white-space: nowrap;

      &:before {
        display: inline-block;
        margin-right: 0.3em;
        position: static;
        vertical-align: middle;
      }
    }
  }

  .social-details__item--share {
    .link-block {
      color: #93A1B8;
    }
  }

  .link-block {
    cursor: pointer;
    margin: -0.2rem 0 -0.2rem -0.3em;
  }
}




.plates-mode {
  .news-item {
    break-inside: avoid-column;
    width: 540px;

    @media screen and (min-width: $screen-phone) {
      padding-bottom: 0;
      width: 100%;
    }

    @media screen and (min-width: $screen-phablet) {
      margin-bottom: 16px;
      padding-bottom: 1rem;
    }

    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 2.4rem;
    }

    .news-item__text {
      font-size: 1.7rem;
      line-height: 1.2;
    }

    .news-item__content {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .news-item__main-content,
    .news-item__image-container {
      width: 100%;
    }

    .news-item__main-content {
      padding-left: 0.8rem;
      padding-bottom: 1rem;
    }

    .news-item__image-container {
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      padding: 0 0 0 0.8rem;

      a {
        order: 2;
      }

      .news-item__rating {
        margin: -3.2rem 0 1rem;
        order: 1;
        text-align: right;
      }

      @media screen and (min-width: $screen-tablet) {
        padding: 0 0 1rem 0.8rem;
      }
    }

    .with-icon--play {
      display: block;
    }

    .news-item__finance-collected {
      font-size: 1.1rem;
    }

    .news-item__topic {
      margin-left: 0.3em;
      width: auto;
    }

    .news-item__georgaphy,
    .news-item__time,
    .news-item__topic {
      border: none;
      flex: 1;
      font-size: 1.1rem;
      width: auto;

      @media screen and (min-width: $screen-phablet) {
        display: block;
      }
    }

    //@media screen and (min-width: $screen-phone) {
      /*
      .news-item__georgaphy,
      .news-item__time,
      .news-item__topic,
      .news-item__finance {
        display: none;
      }
      */

      .news-item__social {
        flex-flow: row;
        flex: 1 100%;
        margin: 1rem 0 1rem 0.8rem;
        padding-left: 0;
      }

      .news-item__image {
        height: 200px;
        object-fit: cover;
        width: 100%;
      }

      .news-item__finance {
        border: none;
        flex: 1;
      }
    //}

    .news-item__georgaphy,
    .news-item__topic {
      order: 1;
    }

    .news-item__georgaphy {
      flex: 1 60%;
    }

    .news-item__topic {
      flex: 1 40%;
    }

    .news-item__finance {
      order: 2;
    }

    .news-item__time {
      padding-right: 0;

      @media screen and (min-width: $screen-tablet) {
        order: 3;
      }
    }

    .news-item__details {
      border: none;
      flex: 2;
    }

    .social-details {
      flex: 3;
      justify-content: space-between;
      margin-right: 10%;
      width: auto;
    }

    .social-action-control {
      flex: 1;
      order: 1;
      width: auto;

      @media screen and (min-width: $screen-tablet) {
        &:before {
          display: none;
        }

        @include join-control-default;
      }

      @include join-control-short($screen-tablet);
    }

    .news-item__date {
      justify-content: flex-end;

      @media screen and (min-width: $screen-tablet) {
        justify-content: space-between;
      }
    }

    .news-item__time-label {
      display: none;

      @media screen and (min-width: $screen-tablet) {
        display: block;
      }
    }

    @media screen and (min-width: $screen-tablet) {
      .news-item__image {
        height: 250px;
      }

      .news-item__georgaphy,
      .news-item__time,
      .news-item__topic,
      .news-item__finance {
        display: block;
      }

      .news-item__social {
        border-top: 1px solid $separator-color;
        margin-top: 1rem;
        padding-top: 1rem;
        order: 4;
      }
    }
  }
}



.short-list-mode {
  .news-item {
    padding-left: 0.5rem;

    .news-item__content {
      flex: 1;
    }

    .news-item__rating {
      display: none;
      flex-wrap: nowrap;
      font-size: 1.1rem;
      padding: 0.2rem 0.5rem 0 0;

      @media screen and (min-width: $screen-tablet) {
        display: flex;
      }

      @media screen and (min-width: $screen-laptop) {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        width: 80px;
      }
    }

    .news-item__image-container {
      margin-top: -5rem;
      text-align: right;
      width: 100%;

      @media screen and (min-width: $screen-tablet) {
        &,
        .news-item__rating {
          display: none;
        }
      }

      a {
        display: none;
      }

      .news-item__rating {
        display: block;
        font-size: 1.3rem;
      }
    }

    .news-item__text {
      border-right: 1px solid $separator-color;
      flex: 3;
      font-size: 1.3rem;
      padding-right: 1rem;
    }

    .news-item__main-content {
      display: block;
      flex: 1;
      flex-flow: column;

      @media screen and (min-width: $screen-tablet) {
        border-right: 1px solid $separator-color;
        display: flex;
        flex-flow: row;
        flex: 10;
      }

      @media screen and (min-width: $screen-laptop) {
        flex: none;
        width: 55%;
      }

      @media screen and (min-width: $screen-wide) {
        width: 60%;
      }
    }

    .news-item__text {
      border-right: none;
      padding-right: 0;

      @media screen and (min-width: $screen-tablet) {
        border-right: 1px solid $separator-color;
        padding-right: 1rem;
      }
    }

    .news-item__author {
      flex: 1;

      @media screen and (min-width: $screen-tablet) {
        flex: none;
        padding-left: 1rem;
        width: 25%;
      }
    }

    .user__name {
      @media screen and (min-width: $screen-tablet) {
        line-height: 1.2;
        margin-bottom: 0.1em;
      }
    }

    .user__details {
      padding-left: 0;
    }

    .social-details {
      justify-content: space-between;

      @media screen and (min-width: $screen-tablet) {
        margin-right: 10%;
      }
    }

    .news-item__topic,
    .news-item__georgaphy,
    .news-item__time {
      font-size: 1.1rem;
    }

    .user__image-container,
    .news-item__finance {
      display: none;
    }

    .news-item__topic {
      border: none;
      padding-right: 0;
    }

    .news-item__topic-inner,
    .news-item__georgaphy-inner {
      min-height: 0;
    }

    .news-item__time {
      box-sizing: border-box;
      display: none;
      min-width: 145px;
      padding: 0 0.8rem;
      width: 10%;

      @media screen and (min-width: $screen-laptop) {
        display: block;
      }
    }

    .news-item__details {
      display: none;
      justify-content: space-between;
      padding: 0 0.8rem;

      @media screen and (min-width: $screen-laptop) {
        display: flex;
        flex-flow: column;
        flex: none;
        height: 55px;
        width: 10%;
      }

      @media screen and (min-width: $screen-wide) {
        width: 12%;
      }
    }

    .news-item__topic,
    .news-item__georgaphy {
      width: auto;
    }

    .news-item__georgaphy {
      padding-left: 0;
    }

    .news-item__topic-region,
    .news-item__georgaphy-countries {
      display: none;
    }

    .news-item__georgaphy-inner {
      flex-flow: row;
      justify-content: flex-end;

      @media screen and (min-width: $screen-laptop) {
        justify-content: flex-start;
      }
    }

    .user__image-container {
      display: block;
      margin-right: 0.3em;

      @media screen and (min-width: $screen-tablet) {
        display: none;
      }
    }

    .social-action-control {
      @include join-control-default;
      border: none;
      height: 1.8rem;
      order: 1;
      margin-left: 5%;
      width: auto;

      &:before {
        display: inline-block;
      }

      &:after {
        display: none;
      }

      .social-action-control__label {
        display: none;
      }
    }

    .news-item__social {
      align-items: flex-start;
      flex-flow: row;
      flex: 1 30%;
      padding-left: 0.8rem;

      @media screen and (min-width: $screen-tablet) {
        margin-top: 0;
      }
    }

    .break {
      display: flex;

      @media screen and (min-width: $screen-tablet) {
        display: none;
      }
    }
  }
}
