.popup {
  color: transparentize($primary-text-color, 0.3);
  font-size: 1.3rem;
  position: absolute;
  top: 100%;
  z-index: 2;

  @media screen and (max-width: $screen-tablet - 1) {
    background: transparentize($primary-background-color, 0.85);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .popup__inner {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(31, 57, 102, 0.3);

    @media screen and (max-width: $screen-tablet - 1) {
      margin: 0 5%;
      max-height: calc(100% - 40px);
      overflow: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 90%;
    }
  }

  li {
    align-items: baseline;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.2rem;
    position: relative;

    &:hover {
      background-color: $control-background-hover-color;
    }

    a:before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
