.rating-control {
  display: inline-block;
  font-size: 1.8rem;
  height: 18px;
  margin: 0;
  width: 18px;

  .short-list-mode & {
    font-size: 1.2rem;
  }

  &:hover {
    &:before {
      color: $control-hover-color;
    }
  }

  &:before {
    color: $control-color;
    left: 50%;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

.rating-control--increase {
  margin-bottom: 8px;

  @media screen and (min-width: $screen-laptop) {
    .short-list-mode & {
      margin: -0.2rem 0.3em 0 0;
    }
  }
}

.rating-control--decrease {
  margin-top: 10px;

  @media screen and (min-width: $screen-laptop) {
    .short-list-mode & {
      margin: -0.2rem 0 0 0.3em;
    }
  }
}
