.user {
  display: flex;

  .user__details {
    padding-left: 4px;
  }

  .user__image-container {
    background: #ccc;
    border-radius: 50%;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
  }

  .user__image {
    object-fit: cover;
  }

  .user__name {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 0.1em;
  }

  .user__status {
    color: #fff;
    display: inline-block;
    border-radius: 0.7rem;
    line-height: 1.3;
    font-size: 1.1rem;
    padding: 0 0.7rem;
    vertical-align: text-top;
  }

  .user__status--pro {
    background: #f5a623;
  }
}
