$primary-background-color: #1f3966;
$secondary-background-color: #fcfdff;
$primary-text-color: #343a45;

$control-color: #93a1b8;
$control-hover-color: #627493;
$control-active-color: #77a0e3;
$control-background-hover-color: #f8f9fa;

$link-hover-color: #6c84ad;

$separator-color: #e8ebef;

$screen-wide: 1700px;
$screen-laptop: 1336px;
$screen-tablet: 768px;
$screen-phablet: 376px;
$screen-phone: 320px;
