.view-switcher {
  @include inner-content;
  padding-bottom: 16px;
  padding-top: 16px;

  input {
    display: none;

    &:checked + .view-switcher__control {
      &:before {
        color: $control-active-color;
      }
    }
  }

  .view-switcher__control {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-right: 12px;
    width: 16px;

    &:hover{
      &:before {
        color: $control-hover-color;
      }
    }

    &:before {
      color: $control-color;
      right: 0;
    }
  }
}
