<template>
  <div class="popup filter__list"
       :class="{'hidden': !isOpened}"
  >
    <div class="popup__inner">
      <ul>
        <li v-for="item in data"
            @click="setCurrentTopic(item)"
        >
          <div class="filter__item-value">{{ item.label }}</div>
          <div
              v-if="item.counter"
              class="filter__item-counter">
            {{ item.counter }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
  import eventBus from './bus.js';

  export default {
    name: 'context-popup',

    props: {
      data: {
        type: Array,
        required: true
      },

      setter: {
        type: String,
        required: true
      },

      toggleMethod: {
        type: String,
        required: true
      },

      isOpened: {
        type: Boolean,
        required: true,
        default: false
      }
    },

    watch: {
      isOpened() {
        document.querySelector('body').classList.toggle('fixed', this.isOpened);
      }
    },

    methods: {
      setCurrentTopic(item) {
        this.$store.commit(this.setter, item);
      }
    },

    mounted() {
      eventBus.$on(
        'close-all',
        () => {
          this.$store.commit(this.toggleMethod, false)
        }
      )
    }
  }
</script>
