<template>
  <div class="join-control-container">
    <button class="social-action-control with-icon with-icon--more"
            @mousedown="$store.commit('closeAll')"
            @click.stop="togglePopup">
      <span class="social-action-control__label">Join</span>
    </button>

    <div class="popup"
         :class="{'hidden': !isOpened}"
    >
      <div class="popup__inner">
        <ul>
          <li><a href="/">Follow</a></li>
          <li><a href="/">Team</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script>
  import eventBus from './bus.js';

  export default {
    name: 'join-control',

    data: () => ({
      isOpened: false
    }),

    methods: {
      togglePopup() {
        this.isOpened = !this.isOpened;
      }
    },

    mounted () {
      eventBus.$on(
        'close-all',
        () => {
          this.isOpened = false;
        }
      )
    }
  }
</script>


<style lang="scss" scoped>
  @import '../sass/variables';

  .popup {
    height: auto;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    width: auto;

    .popup__inner {
      margin: 0;
      max-height: none;
      right: 0;
      top: 0;
      transform: none;
    }
  }
</style>
