<template>
  <div class="social-details__item social-details__item--share">
    <span class="with-icon with-icon--share link-block"
          @mousedown="$store.commit('closeAll')"
          @click.stop="togglePopup">
      Share
    </span>

    <div class="popup"
         :class="{'hidden': !isOpened}"
    >
      <div class="popup__inner">
        <ul>
          <li><a href="/">Copy link</a></li>
          <li><a href="/">Print</a></li>
          <li><a href="/">Mail</a></li>
          <li><a href="/">Embed</a></li>
          <li><a href="/">Facebook</a></li>
          <li><a href="/">YouTube</a></li>
          <li><a href="/">Instagram</a></li>
          <li><a href="/">Qzone</a></li>
          <li><a href="/">Weibo</a></li>
          <li><a href="/">Twitter</a></li>
          <li><a href="/">Reddit</a></li>
          <li><a href="/">Pinterest</a></li>
          <li><a href="/">Ask.fm</a></li>
          <li><a href="/">Tumblr</a></li>
          <li><a href="/">Flickr</a></li>
          <li><a href="/">Google+</a></li>
          <li><a href="/">LinkedIn</a></li>
          <li><a href="/">VK</a></li>
          <li><a href="/">Odnoklassniki</a></li>
          <li><a href="/">Meetup</a></li>
          <li><a href="/">Flickr</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script>
  import eventBus from './bus.js';

  export default {
    name: 'share-control',

    data: () => ({
      isOpened: false
    }),

    methods: {
      togglePopup() {
        this.isOpened = !this.isOpened;
      }
    },

    mounted () {
      eventBus.$on(
        'close-all',
        () => {
          this.isOpened = false;
        }
      )
    }
  }
</script>


<style lang="scss" scoped>
  @import '../sass/variables';

  .social-details__item--share {
    position: relative;
  }

  .popup {
    right: 0;
  }
</style>
