<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>iHumanity</title>

  <link rel="stylesheet" href="../css/ihumanity.css"/>
  <link rel="stylesheet" href="../css/home.css"/>
</head>
<body>


<header class="main-header">
  <div class="main-header__inner">
    <div class="main-header__logo">
      <img src="../img/logo.svg" alt="iHumanity" width="22" height="28"/>
    </div>

    <div class="main-navigation__geography">
      <ul class="main-header__navigation">
        <li>
          <a href="/">World</a>
        </li>
        <li>
          <a href="/">Country</a>
        </li>
        <li>
          <a href="/">Region</a>
        </li>
        <li>
          <a href="/">City</a>
        </li>
        <li>
          <a href="/">F&F</a>
        </li>
        <li>
          <a href="/">My</a>
        </li>
      </ul>
    </div>

    <form action="." method="post"
          class="main-header__search"
          :class="{'main-header__search--mobile-active': mobileSearchVisible}">
      <div class="main-header__search-inner with-icon with-icon--search">
        <input type="search" name="search-text" placeholder="Search"/>
      </div>

      <button type="button"
              class="main-header__search-mibile-control with-icon with-icon--search"
              @click="showMobileSearch"></button>
    </form>

    <ul class="main-header__navigation main-header__navigation--purposes">
      <li>
        <a href="/" class="with-icon with-icon--plus link">
          <span class="link__text-label">Add purpose</span>
        </a>
      </li>
      <li>
        <a href="/" class="with-icon with-icon--purpose link">
          <span class="link__text-label">Find out my purpose</span>
        </a>
      </li>
    </ul>

    <ul class="main-header__navigation main-header__navigation--auth">
      <li class="main-header__navigation-about">
        <a href="/">About</a>
      </li>

      <li>
        <div class="language-switcher">
          <span class="language-switcher__current-value"
                @mousedown="$store.commit('closeAll')"
                @click.stop="$store.commit('toggleLanguagesPopup', true)"
                v-cloak
          >
            <span class="language-switcher__label">
              {{ $store.getters.getCurrentLanguage.label }}
            </span>
            <span class="language-switcher__abbr">
              {{ $store.getters.getCurrentLanguage.abbr }}
            </span>
          </span>

          <context-popup
              :is-opened="$store.getters.isLanguagesPopupOpened"
              :setter="'setCurrentLanguage'"
              :toggle-method="'toggleLanguagesPopup'"
              :data="[
            {label: 'Arabic', abbr: 'AR'},
            {label: 'Chinese', abbr: 'CH'},
            {label: 'English', abbr: 'EN'},
            {label: 'French', abbr: 'FR'},
            {label: 'German', abbr: 'DE'},
            {label: 'Hindi', abbr: 'HI'},
            {label: 'Korean', abbr: 'KO'},
            {label: 'Portugese', abbr: 'PT'},
            {label: 'Russian', abbr: 'RU'},
            {label: 'Spanish', abbr: 'ES'}
          ]"></context-popup>
        </div>
      </li>

      <li class="main-header__navigation-auth-link">
        <a href="/">Sign In</a>
      </li>
    </ul>
  </div>
</header>


<div class="main-filter">
  <div class="main-filter__inner">
    <div class="main-filter__item">
      <span class="filter__current-value"
            @mousedown="$store.commit('closeAll')"
            @click.stop="$store.commit('toggleTopicsPopup', true)"
            v-cloak
      >
        {{ $store.getters.getCurrentTopic.label }}
      </span>
      <context-popup
          :is-opened="$store.getters.isTopicsPopupOpened"
          :setter="'setCurrentTopic'"
          :toggle-method="'toggleTopicsPopup'"
          :data="[
        {
          label: 'All',
          counter: 687594231
        },
        {
          label: 'Art',
          counter: 68144
        },
        {
          label: 'Beauty',
          counter: 5248
        },
        {
          label: 'Business',
          counter: 36578
        },
        {
          label: 'Challenge',
          counter: 17953
        },
        {
          label: 'Сумасшедшие',
          counter: 687594231
        },
        {
          label: 'Eco',
          counter: 687594231
        },
        {
          label: 'Education',
          counter: 687594231
        },
        {
          label: 'Invention',
          counter: 687594231
        },
        {
          label: 'Health',
          counter: 687594231
        },
        {
          label: 'Medicine',
          counter: 148
        },
        {
          label: 'Personal',
          counter: 148
        },
        {
          label: 'Politics',
          counter: 148
        },
        {
          label: 'Science',
          counter: 148
        },
        {
          label: 'Social',
          counter: 148
        },
        {
          label: 'Sport',
          counter: 148
        },
        {
          label: 'Start',
          counter: 148
        },
        {
          label: 'Stop',
          counter: 148
        },
        {
          label: 'Tech',
          counter: 148
        },
        {
          label: 'Неразрешенные',
          counter: 148
        }
      ]"></context-popup>
    </div>
    <div class="main-filter__item">
      <span class="filter__current-value"
            @mousedown="$store.commit('closeAll')"
            @click.stop="$store.commit('toggleTypesPopup', true)"
            v-cloak
      >
        {{ $store.getters.getCurrentType.label }}
      </span>
      <context-popup
          :is-opened="$store.getters.isTypesPopupOpened"
          :setter="'setCurrentType'"
          :toggle-method="'toggleTypesPopup'"
          :data="[
        {
          label: 'All',
          counter: 687594231
        },
        {
          label: 'New',
          counter: 68144
        },
        {
          label: 'Voted',
          counter: 5248
        },
        {
          label: 'Joined',
          counter: 36578
        },
        {
          label: 'Comments',
          counter: 17953
        },
        {
          label: 'Hot',
          counter: 687594231
        },
        {
          label: 'Valued',
          counter: 687594231
        },
        {
          label: 'Promo',
          counter: 687594231
        },
        {
          label: 'Time',
          counter: 687594231
        },
        {
          label: 'Done',
          counter: 687594231
        },
        {
          label: 'Профинансировано',
          counter: 148
        },
        {
          label: 'Subgoals',
          counter: 148
        }
      ]"></context-popup>
    </div>
    <div class="main-filter__item">
      <span class="filter__current-value"
            @mousedown="$store.commit('closeAll')"
            @click.stop="$store.commit('toggleTimesPopup', true)"
            v-cloak
      >
        {{ $store.getters.getCurrentTime.label }}
      </span>
      <context-popup
          :is-opened="$store.getters.isTimesPopupOpened"
          :setter="'setCurrentTime'"
          :toggle-method="'toggleTimesPopup'"
          :data="[
        {
          label: '24H',
          counter: 687594231
        },
        {
          label: 'Week',
          counter: 68144
        },
        {
          label: 'Month',
          counter: 5248
        },
        {
          label: 'Year',
          counter: 36578
        },
        {
          label: 'All of time',
          counter: 2412131019
        }
      ]"></context-popup>
    </div>

    <div class="main-filter__item main-filter__item--geography">
      <span class="filter__current-value"
            @mousedown="$store.commit('closeAll')"
            @click.stop="$store.commit('toggleGeographyPopup', true)"
            v-cloak
      >
        {{ $store.getters.getCurrentGeography.label }}
      </span>
      <context-popup
          :is-opened="$store.getters.isGeographyPopupOpened"
          :setter="'setCurrentGeography'"
          :toggle-method="'toggleGeographyPopup'"
          :data="[
        {label: 'World'},
        {label: 'Country'},
        {label: 'Region'},
        {label: 'City'}
      ]"></context-popup>
    </div>
  </div>
</div>


<div class="view-switcher">
  <input type="radio" name="view-type" value="list-mode"
         id="view-detailed-list"
         v-model="viewMode"
         @change="changeViewMode"
  />
  <label for="view-detailed-list"
         class="view-switcher__control with-icon with-icon--classic view-switcher__control--detailed-list"></label>

  <input type="radio" name="view-type" value="plates-mode" id="view-plates"
         v-model="viewMode"
         @change="changeViewMode"
  />
  <label for="view-plates"
         class="view-switcher__control with-icon with-icon--cards view-switcher__control--plates"></label>

  <input type="radio" name="view-type" value="short-list-mode"
         id="view-short-list"
         v-model="viewMode"
         @change="changeViewMode"
  />
  <label for="view-short-list"
         class="view-switcher__control with-icon with-icon--lines view-switcher__control--short-list"></label>
</div>


<div class="news-list" :class="viewMode">
  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Commodi hic incidunt, nam numquam possimus quas
          temporibus veniam! Alias atque aut blanditiis doloremque est magni, minus
          obcaecati omnis provident, repellendus voluptatum?</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/"
                                                              class="link-block">Bosnia and Herzegovina</a>
            </div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>


  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Donald Trump</a>
            </div>
            <div class="user__status user__status--pro">World - Social</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>

  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Commodi hic incidunt, nam numquam possimus quas
          temporibus veniam! Alias atque aut blanditiis doloremque est magni, minus
          obcaecati omnis provident, repellendus voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium incidunt ipsa itaque nihil quaerat qui recusandae reiciendis totam veritatis. Aliquid eos illo illum non quidem quos. Deserunt iure quas ratione.</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Konstantin Konstantinopolsky</a>
            </div>
            <div class="user__status user__status--pro">Country - Education</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>
  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Commodi hic incidunt, nam numquam possimus quas
          temporibus veniam!</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>
  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>

  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>

  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Commodi hic incidunt, nam numquam possimus quas
          temporibus veniam! Alias atque aut blanditiis doloremque est magni, minus
          obcaecati omnis provident, repellendus voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium incidunt ipsa itaque nihil quaerat qui recusandae reiciendis totam veritatis. Aliquid eos illo illum non quidem quos. Deserunt iure quas ratione.</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>
  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Commodi hic incidunt, nam numquam possimus quas
          temporibus veniam!</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>
  <section class="news-item">
    <div class="news-item__rating">
      <button
          class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
      7.8 M
      <button
          class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
    </div>

    <div class="news-item__content">
      <div class="news-item__main-content">
        <h3 class="news-item__text">
          <a href="/">Lorem ipsum dolor sit amet</a>
        </h3>

        <div class="news-item__author user">
          <div class="user__image-container">
            <img src="" alt="" width="" height="" class="user__image"/>
          </div>
          <div class="user__details">
            <div class="user__name">
              <a href="/">Morgan Freeman</a>
            </div>
            <div class="user__status user__status--pro">Pro</div>
          </div>
        </div>
      </div>

      <div class="news-item__image-container">
        <a href="/" class="with-icon with-icon--play">
          <img src="../img/test.jpg" alt="" class="news-item__image"/>
        </a>

        <div class="news-item__rating">
          <button
              class="rating-control with-icon with-icon--vote_up rating-control--increase"></button>
          7.8 M
          <button
              class="rating-control with-icon with-icon--vote_down rating-control--decrease"></button>
        </div>
      </div>

      <div class="break"></div>

      <div class="news-item__finance">
        <div class="news-item__finance-inner">
          <div class="news-item__finance-collected">
            <a href="/">78&thinsp;974 ACH</a>
          </div>

          <div class="news-item__finance-label">
            <a href="/" class="with-icon with-icon--finance link-block">Finance</a>
          </div>
        </div>
      </div>

      <div class="news-item__details">
        <div class="news-item__topic">
          <div class="news-item__topic-inner">
            <div class="news-item__topic-name">
              <a href="/" class="link-block">Medicine</a>
            </div>
            <div class="news-item__topic-region">
              <a href="/" class="link-block">World</a>
            </div>
          </div>
        </div>

        <div class="news-item__georgaphy">
          <div class="news-item__georgaphy-inner">
            <div class="news-item__georgaphy-main-country"><a href="/" class="link-block">USA</a></div>
            <div class="news-item__georgaphy-countries">59 countries</div>
          </div>
        </div>
      </div>

      <div class="news-item__time">
        <div class="news-item__time-inner">
          <div class="news-item__date">
            <div class="news-item__time-label">Start</div>
            <time class="news-item__time-value">2017-06-01</time>
          </div>
          <div class="news-item__date">
            <div class="news-item__time-label">Finish</div>
            <time class="news-item__time-value">2019-06-01</time>
          </div>
        </div>
      </div>

      <div class="news-item__social">
        <join-control></join-control>

        <div class="social-details">
          <div class="social-details__item social-details__item--user">
            <a href="/" class="with-icon with-icon--people link-block">7.9 M</a></div>
          <div class="social-details__item social-details__item--comments">
            <a href="/" class="with-icon with-icon--comments link-block">3.1 K</a>
          </div>

          <share-control></share-control>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript" src="../js/common.build.js"></script>

</body>
</html>
